<!--
  SPDX-FileCopyrightText: 2026 Amalgam Solucoes em TI Ltda.
  SPDX-License-Identifier: LGPL-2.1-only
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"><application android:theme="@android:style/Theme.Material.Light.NoActionBar" android:label="Magic Doodle Board"><activity android:name=".MagicDoodleBoardActivity" android:screenOrientation="unspecified" android:configChanges="orientation|screenSize" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity></application></manifest>
